/*this is my external styles sheet for Restaurant V3*/
h1 {
	font-size: 50px;
	font-weight: bold;
	color: orange;
	text-align: center;
	font-family: Lobster;
}

a:hover {
	color: red;
}

header {
	font-size: 15px;
	font-weight: bold;
	color: blue;
}

footer {
	font-weight: bold;
	font-size: 15px;
}
