/*this is my external styles sheet for Restaurant V4*/
h1 {
	font-size: 50px;
	font-weight: bold;
	color: orange;
	text-align: center;
	font-family: Lobster;
}

a {
	text-decoration: none;
	padding: 8px 0 8px 16px;
	font-weight: normal;
}
a:link {
	color: blue;
}

a:visited {
	color: orange;
}
a:hover {
	color: red;
	font-weight: bold;
}
header {
	font-size: 15px;
	font-weight: bold;
	color: blue;
}

footer {
	font-weight: bold;
	font-size: 15px;
}
