/*this is my external styles sheet for Restaurant V2*/
h1 {
	font-size: 50px;
	font-weight: bold;
	color: Orange;
	text-align: center;
}

a:hover {
	color: red;
}

header {
	font-size: 15px;
	font-weight: bold;
	color: blue;
}

footer {
	font-weight: bold;
	font-size: 15px;
}